/*selector {declaration;} --,same as-- selector {property:value;}
the universal selector (*) selects every element on the page, ex.: * {...:...} applies to everything
if multiple selectors have the same style definitions, they can be grouped together: h1, h2, h3 {...:...}*/

/*ids and class names cannot start with numbers*/

/*if multiple style sheets are used, the most recently read style sheet will be used ->cascading order 
ex: first inline, then external/internal (depending on which was defined first), then browser default*/

/*background properties can all be in one declaration as long as they are declared in this order, ex:
background : background-color  background-image background-repeat backgrount-attachment background-position; 
background { #ffffff url("hi.png") no-repeat right top; } */

/*<div> <p> ... </p> </div> <--- div is parent element of p, so p can inherit margin property of div*/

/* font: font-style font-variant font-weight font-size/line-height font-family ...font-size and font-family required*/

/*html elements*/

body {
    background-color: lavenderblush;
    font-size: 100%; /*set default font-size in percent for body, so setting 'em' everywhere else works when user resizes font*/
}

h1 {
    text-align: center;
    font-family: "Courier New", Courier, monospace; /*first is wanted font, second and third are more generic back up fonts*/
    /*some fonts pair really well together, examples on w3schools css tutorial fonts -> font pairings*/
    /*^ex. Helvetica for headings, Garamond for text*/
    font-size: 2.5em; /*=40px, but this way the size scales when users resize the text size of browser; pixels/16=em */
    /*can also set font-size in vw (viewport width), 1vw = 1% of viewport width; scales with size of viewport*/
    font-variant: normal;
}

h4 {
    text-align: center;
}

p {
    color: slateblue;
    text-align: center;
}

/*individual ids*/

#material_icons{
    text-align: left;
    color: black;
}

#middle_cloud {
    font-size: 50px;
}

#large_cloud {
    font-size: 100px;
}

#large_blue_cloud {
    font-size: 100px;
    color: lightblue;
}

#large_red_cloud {
    font-size: 100px;
    color: lightcoral;
}

#computer_icon {
    font-size: 100px;
    color:rgb(104, 104, 104);
    text-shadow: 5px 5px 10px rgb(7, 49, 23);
}

#left_align {
    font-size: 20px;
    text-align: left;
    text-transform: uppercase; /*or lowercase, capitalize*/
    letter-spacing: -2px;
    text-shadow: 2px 2px 5px purple; /* horizontal shadow, vertical shadow, blur effect, color*/
}

#center_align {
    text-align: center;
    text-decoration: line-through; /*or overline, underline (usually just used for links), none to make links not have underline*/
    letter-spacing: 5px;
    word-spacing: 10px; /*can also be negative*/
    /*white-space: nowrap -> makes the words run off the page vs get wrapped to next line*/
    font-weight: bold; /*or normal, lighter, a specific number*/
}

#right_align {
    text-align: right;
    /*vertical-align: top/middle/bottom -> ex. align image within text */
    direction: rtl;
    unicode-bidi: bidi-override;
}

#justify_align {
    text-align: justify;
    width: 100px;
    border: 1px solid black;
    padding: 10px;
    text-indent: 30px;
    line-height: 0.7;
}

#box_model {
    color: goldenrod;
    width: 300px;
    padding: 30px;
    border: 20px solid khaki;
    margin: 10px;
    outline-style: solid;
    outline-color: black; /*can also use 'invert'*/
    outline-width: thin;
    outline-offset: 3px;
    /*outline shorthand-> outline: outline-width outline-style outline-color*/
    /*outline does not count towards total width; outline can overlap with other elements*/
    /*total width = 300px + 30px + 30px + 20px + 20px + 10px + 10px = 420px */
}

#special_paragraph {
    color: green;
    font-size: 20px;
}

#background_test {
    color: white;
    background-color: sienna;
    opacity: 0.3; /*also makes child elements transparent*/
}

#background_test2 {
    color: black;
    background-color: rgb(201,160,207, 0.8); /*child elements are not transparent; just the background*/
    margin: 0 0 50px 0; 
    /*test2 has 50 bottom margin and test3 has 20 top margin, because of margin collapse instead of 70px
    between the two, there is only 50px*/
}

#background_test3 {
    color: hsl(0, 0%, 71%);
    background-color: rgb(50,50,50);
    margin: 20px 0 0 0;
}

#background_test4 {
    color: #f0f; /*same as ff00ff*/
    background-color: #faf; /*same as ffeeff*/
    width: 300px;
    margin: auto; /*centers element, margin equally placed on left and right sides*/
}

#background_test5 {
    color: hsl(30,77%,12%,0.9);
    background-color: hsl(214,44%,63%);
    /*also margin-top, margin-bottom, margin-left, margin-right, or margin: top right bottom left*/
    margin: 70px; /*creates space around elements, can also use percentages or auto or inherit*/
}

#border_test {
    color: darkolivegreen;
    border: 7px dotted chartreuse; /*shorthand for border-width border-style (required) border-color*/
    /* height and width does not include padding, margin, or borders; can use auto, length, percent, initial, inherit*/
    /*can also set min-width and min-height*/
    /*use max-width property instead of width so if screen is smaller, the element will also shrink vs width it stays the same*/
    height: 50px;
    width: 75%;
    margin-left: 13%;
    font-variant: small-caps;
}

#border_test2 {
    border-style: inset;
    border-width: 3px 10px; /* x y -> top/bottom left/right; w x y z -> top, right, bottom, left x y z -> top, left/right, bottom*/
    font-style: italic;
}

#border_test3 {
    border-top-style: double; /*border-top-color, border-top-width*/
    border-right-style: solid;
    border-bottom-style: ridge;
    border-left-style: dashed;
    border-width: 4px;
    border-color: green blue indigo purple;
}

#border_test4 {
    border-top: 5px solid salmon;
    background-color: lightgray;
    padding: 50px;
    width: 300px;
    box-sizing: border-box;
    margin: auto;
}

#border_test5 {
    border: 3px solid goldenrod;
    border-radius: 12px;
    /* padding: top right bottom left*/
    /* if padding (left/right) and width are defined, the total width is width + left padding + right padding*/
    /* add box-sizing: border-box; property to keep width without adding padding space*/
    padding: 70px; /*also padding-top, padding-right, padding-bottom, padding-left, can use length, percent, inherit*/
}

#background_image {
    color: yellow;
    background-repeat: no-repeat; /*ex: repeat-x or repeat-y*/
    background-image: url(dandelions.jpg);
    background-position: center; /*ex: right top*/
    background-attachment: scroll; /*image scrolls up with page, else use fixed*/
    margin-right: 200px;
    margin-left: 200px;
}

/*classes*/

a.first_link:link {
    color:blue;
    /*text-decoration: none -> removes underline from link (or text-decoration: underline;)*/
}

a.first_link:visited {
    color:lightskyblue;
}

a.first_link:hover { /*a:hover must come after a:link and a:visited*/
    color: maroon;
    background-color: lightgray;
    cursor: wait;
}

a.first_link:active { /*a:active must come after a:hover*/
    color: gray;
}

a.second_link:link, a.second_link:visited, a.second_link:hover, a.second_link:active {
    border: 2px solid rgb(7, 49, 23);
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.second_link:hover {
    background-color:rgb(7, 49, 23);
    color:peachpuff;
    cursor: crosshair;
}

p.orange {
    font-size: 10px;
}

.orange {
    color: orange;
}

.large {
    font-size: 25px;
}